#videoDownloadDropdown{
    position: absolute;
    border: 1px solid #ddd;
    width: 200px;
    height: 100px;
    background: #fff;
    z-index: 99999;
    box-shadow: 2px 2px 5px rgba(0,0,0, 0.2);
    margin-left: 240px;
    margin-top: 9px;
    display: none;
}

#videoDownloadDropdown.shown{
    display: block;
}